@media all and (min-width: 0px) {
  .main__header {
    display: block;
    padding-bottom: 36px;
    margin: 0px auto;
    max-width: 90%;
  }
}

@media all and (min-width: 480px) {
  .main__header {
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
  }
}

@media all and (min-width: 768px) {
  .main__header {
    padding-bottom: 32px;
    max-width: 90%;
  }
}

@media all and (min-width: 1280px) {
  .main__header {
    padding: 0px 104px 64px 104px;
    max-width: 1235px;
  }
}
