@media all and (min-width: 0px) {
  .tech__logobox {
    height: 153px;
    width: 92px;
    padding: 0px;
    text-align: center;
    margin: 0px auto;
  }
}

@media all and (min-width: 500px) {
  .tech__logobox {
    margin: 0px;
  }
}
