@import url("./__button/button.css");
@import url("./__container/container.css");
@import url("./__nav/nav.css");
@import url("./__nav/_active/nav_active.css");
@import url("./__navigation/navigation.css");

@media all and (min-width: 0px) {
  .slider {
    margin: 0px auto;
    position: relative;
    padding: 0px;
    overflow: hidden;
    justify-content: center;
    z-index: 0;
  }
}

