.main__button {
    background: #ffffff;
    border-radius: 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #1a1b22;
    padding: 18.4px 84px 21.86px 84px;
    margin: auto;
    border: none;
    cursor: pointer;
    outline: none;
    display: block;
  }