@media all and (min-width: 0px) {
  .ghcard_carddate {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #b6bcbf;
    margin: 0px;
    padding: 16px 0px 16px 16px;
  }
}

@media all and (min-width: 768px) {
  .ghcard_carddate {
    padding: 24px 0px 19px 24px;
  }
}
