.ghcard_carddate {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #b6bcbf;
    margin: 0px;
    padding: 24px 0px 16px 24px;
  }