@media all and (min-width: 0px) {
  .ghcard__authorname {
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #1a1b22;
    margin: 0px;
    padding: 2px 24px 0px 0px;
  }
}

@media all and (min-width: 1280px) {
  .ghcard__authorname {
    font-size: 26px;
    line-height: 30px;
  }
}
