@media all and (min-width: 0px) {
  .main__checkanalytics {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #1a1b22;
    text-decoration: none;
    margin: 0px;
  }
}

@media all and (min-width: 530px) {
  .main__checkanalytics {
    margin: 0px;
    padding: 0px;
  }
}

.main__checkanalytics:after {
  content: "";
  width: 9px;
  height: 14px;
  margin: 0px 0px 0px 10px;
  background-image: url(../../../images/strelka.svg);
}
