@media all and (min-width: 0px) {
  .main__cardcontainer {
    display: block;
    max-width: 90%;
    margin: auto;
    justify-content: center;
    padding: 0;
  }
}

@media all and (min-width: 480px) {
  .main__cardcontainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(224px, 1fr));
    grid-gap: 8px 8px;
    padding: 0px;
  }
}

@media all and (min-width: 768px) {
  .main__cardcontainer {
    grid-template-columns: repeat(3, minmax(224px, 1fr));
    grid-gap: 8px 8px;
  }
}

@media all and (min-width: 1280px) {
  .main__cardcontainer {
    max-width: 1235px;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 16px 16px;
    padding: 0px 104px 0px 104px;
  }
}
