@import url("../fonts/fonts.css");

@import url("../blocks/author/author.css");
@import url("../blocks/body/body.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/header/header.css");
@import url("../blocks/main/main.css");

.client {
  margin: auto;
  max-width: 1440px;
  padding: 160px 0px 94px 0px;
}
.client__content {
  max-width: 815px;

  padding: 0px 104px 0px 104px;
}

.client__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0px;
}
.client__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 0px;
  padding-top: 24px;
}

.tech {
  max-height: 334px;
  min-width: 100%;
  background: #f5f6f7;
}
.tech__content {
  margin: 0px auto;
  padding: 0px 104px 0px 104px;
  max-width: 1235px;
  min-height: 334px;
  display: flex;
  justify-content: space-between;
}
.tech__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0px;
  max-width: 320px;
  padding: 80px 0px 162px 0px;
}

.tech__logocontainer {
  display: flex;
  max-width: 841px;
  padding-right: 120px;
}

.tech__logobox {
  max-height: 153px;
  max-width: 120px;
  margin: 0px 0px 0px 72px;
  padding: 93px 0px 97px 0px;
}
.tech__logoname {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #1a1b22;
  margin: 0px;
  padding-bottom: 23px;
}

.gh {
  background: #f5f6f7;
  padding: 72px 0px 80px 0px;
  max-width: 100%;
}
.gh__header {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  vertical-align: middle;
  padding-bottom: 64px;
  max-width: 1235px;
  margin: auto;
}
.gh__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0px;
}
.gh__ghlink {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #1a1b22;
  text-decoration: none;
  margin: 0px;
}
.gh__ghlink:after {
  content: "";
  width: 9px;
  height: 14px;
  margin: 0px 0px 0px 10px;
  background-image: url(../images/strelka.svg);
}

.slider {
  max-width: 100%;
  margin: 0px auto;
  position: relative;
}

.slider__container {
  max-width: 1235px;
  max-height: 288px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0px auto;
  padding: 0px;
  overflow: hidden;
}

.ghcard {
  max-height: 388px;
  min-height: 288px;
  background: #ffffff;
  border-radius: 16px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px 16px 0px 0px;
  flex-shrink: 0;
}

.ghcard:hover {
  box-shadow: 0px 1px 3px 0px rgba(48, 50, 50, 0.5);
  transition: ease 0.2s;
}

.ghcard_carddate {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #b6bcbf;
  margin: 0px;
  padding: 24px 0px 16px 24px;
}
.ghcard__authorbox {
  display: flex;
  justify-content: flex-start;
  padding: 0px 0px 16px 24px;
}
.ghcard__avatar {
  height: 64px;
  width: 64px;
  padding-right: 16px;
}
.ghcard__textbox {
  display: block;
}

.ghcard__authorname {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 0px;
  padding: 2px 24px 0px 0px;
}
.ghcard__email {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #1a1b22;
  margin: 0px;
}
.ghcard__commit {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  margin: 0px;
  padding: 0px 24px 16px 24px;
  max-width: 352px;
}

.slider__nav {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #d1d2d6;
  margin: 48px auto 0px;
}
.slider__nav_active {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: black;
  margin: 48px auto 0px;
}
.slider__navigation {
  display: flex;
  margin: auto;
  width: 40px;
}

.slider__button {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  background-image: url(../images/arrowright.svg);
  background-position: center;
  top: 30%;
  left: 30px;
}

.slider__button {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    background-image: url(../images/arrowright.svg);
    background-position: center;
    top: 35%;
    left: 24px;
    right: auto;
  }
  
  .slider__button_left {
    background-image: url(../images/arrowleft.svg);
    right: 24px;
    left: auto;
  }
  
