.stats__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #1a1b22;
    margin: 0px;
    padding: 0px 0px 48px 0px;
  }