.search__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    max-width: 545px;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin: 0px;
    padding-bottom: 64px;
  }