@import url("./__container/container.css");
@import url("./__logo/logo.css");
@import url("./__menu-link/menu-link.css");
@import url("./__menu-link/_active/active.css");
@import url("./__menu-links/menu-links.css");
@import url("./__menu/menu.css");
@import url("./__logo/_black/black.css");
@import url("./__menu-link/_black-active/black-active.css");
@import url("./_header-white/header-white.css");

.header {
  position: absolute;
  max-height: 80px;
  min-width: 100%;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}
