@import url("./__container/container.css");
@import url("./__logo/logo.css");
@import url("./__menu-link/menu-link.css");
@import url("./__menu-link/_active/active.css");
@import url("./__menu-link/_simple/simple.css");
@import url("./__menu-links/menu-links.css");
@import url("./__menu/menu.css");
@import url("./__logo/_black/black.css");
@import url("./__menu-link/_black-active/black-active.css");
@import url("./_header-white/header-white.css");


@media all and (min-width: 0px) {
  .header {
    position: absolute;
    height: 56px;
    min-width: 100%;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  }
}

@media all and (min-width: 768px) {
  .header {
    height: 64px;
  }
}

@media all and (min-width: 1024px) {
  .header {
    height: 80px;
  }
}

