
@media all and (min-width: 0px) {
  .stats__item-graph {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0px;
    background: #2f71e5;
    padding-left: 1px;
    padding-right: 5px;
  }

  @media all and (min-width: 768px) {
    .stats__item-graph {
      padding-left: 2px;
      padding-right: 3px;
    }
  }
  }

@media all and (min-width: 1024px) {
  .stats__item-graph {
    padding-left: 3px;
    padding-right: 0px;
  }
}

